<div>
  <img src="/assets/img/users.png" id="icon" alt="User Icon" />
</div>
<form enctype="multipart/form-data" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Enter Full Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
  <div *ngIf="signUpForm.submitted && !fullName.valid">
    <label class="validation-message">This field is required.</label>
  </div>

  <input type="text" #salary="ngModel" [(ngModel)]="userService.selectedUser.salary" name="salary" placeholder="Enter Salary"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !salary.valid }">
  <div *ngIf="signUpForm.submitted && !salary.valid">
    <label class="validation-message">This field is required.</label>
  </div>


  <select class="form-control selectoption" style="" #position="ngModel" [(ngModel)]="userService.selectedUser.position" name="position">
      <option value="">Select</option>
    <option value="it">IT</option>
    <option value="hr">HR</option>
    <option value="sails">Sails</option>
  </select>

  <!-- <div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      </div> -->

  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Enter Email Id"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Enter Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>

  <div class="form-group">

    <div class="btn btn-primary btn-sm float-left">
      <span>Choose file</span>
    <input type="file" accept="image/*" (change)="fileChange($event)" name="imageUrl" #name="ngModel" [(ngModel)]="userService.selectedUser.imageUrl">
    <!-- <input type="text" class="form-control-file" name="image" id="image"> -->
  </div>

  </div>
  <input type="submit" value="Sign Up">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>
