<dash-header pageTitle="Biz Technosys" imageUrl="dashboard-black" helpType="homepage"></dash-header>
<mat-tab-group class="tab-group">
    <mat-tab label="AboutUs">
        <mat-card>
            <mat-card-content>
               <pre>
                    Why Biztechnosys
 

                    Biztechnosys is an established IT Firm with over 4 years in developing and optimizing Web apps and Databases especially in the Cloud and Microsoft Azure Areas.
                    
                    We successfully served more than 100 small and medium sized business customers. Our team of over 50 employees specialize in Umbraco, Azure, Database Optimization, Application Optimization, etc. Most of our employees have multiple certifications in their areas of expertise. So far we delivered over 250 projects spanning DB Optimization, App optimization, App Development, Umbracro Development and Azure related projects.
                    
                    Our core IT Business consultation services include.
                    
                      1) Designing and architecting your web and mobile apps
                    
                      2) Simplifying your business processes and improving the user experience
                    
                      3) Providing efficient solutions that satisfy your business requirement besides value added services.
               </pre>
            </mat-card-content>
            
        </mat-card>
    </mat-tab>
           
</mat-tab-group>